* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.jpg);
    font-family: "Roboto Condensed", sans-serif;
}


.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border-bottom: 3px solid black;
}

header form {
    align-self: center;
}

.container div h1 {
    font-family: "Lilita One", sans-serif;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}