* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.jpg);
    font-family: "Roboto Condensed", sans-serif;
}


.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border-bottom: 3px solid black;
}

header form {
    align-self: center;
}

.container div h1 {
    font-family: "Lilita One", sans-serif;
}

.card {
    visibility: hidden;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    background-color: #00a5f2;
    background-image: url("https://www.transparenttextures.com/patterns/polonez-pattern.png");
}

.bot {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 50px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    height: 100px;
    width: 170px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #e8eb88;
    background-image: url("https://www.transparenttextures.com/patterns/old-map.png");
}

.location {
    padding-bottom: 10px;
}

.top {
    border: 1px solid black;
    border-radius: 10px;
    padding:  10px;
    background-color: #76de8a;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png"); 
}

button {
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    color: wheat;
}
input {
    border: none;
    height: 30px;
    padding: 5px;
}